* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_1 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_9 {
  width: 100%;
  height: 127px;
  background: rgba(62,198,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v6_25 {
  width: 301px;
  height: 44px;
  background: url("../images/v6_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 307px;
  left: 641px;
  overflow: hidden;
}
.v5_39 {
  width: 301px;
  height: 44px;
  background: rgba(62,198,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
}
.v6_22 {
  width: 216px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 42px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v6_26 {
  width: 703px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 382px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v7_8 {
  width: 724px;
  height: 41px;
  background: url("../images/v7_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 442px;
  left: 390px;
  overflow: hidden;
}
.v7_2 {
  width: 540px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v7_3 {
  width: 172px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 552px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v7_24 {
  width: 100%;
  height: 337px;
  background: url("../images/v7_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 543px;
  left: 90px;
  overflow: hidden;
}
.v6_32 {
  width: 161px;
  height: 176px;
  background: rgba(62,198,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 846px;
  border: 1px solid rgba(0,0,0,1);
}
.v6_49 {
  width: 161px;
  height: 176px;
  background: rgba(62,198,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1097px;
  border: 1px solid rgba(0,0,0,1);
}
.v6_35 {
  width: 161px;
  height: 176px;
  background: rgba(62,198,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 570px;
  border: 1px solid rgba(0,0,0,1);
}
.v6_38 {
  width: 161px;
  height: 176px;
  background: rgba(62,198,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 293px;
  border: 1px solid rgba(0,0,0,1);
}
.v6_40 {
  width: 193px;
  height: 141px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 196px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
}
.v6_41 {
  width: 161px;
  height: 176px;
  background: rgba(62,198,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 15px;
  border: 1px solid rgba(0,0,0,1);
}
.v6_51 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 64px;
  left: 68px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v7_4 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 64px;
  left: 345px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v7_5 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 64px;
  left: 626px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v7_6 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 64px;
  left: 897px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v7_7 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 64px;
  left: 1149px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v7_11 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 248px;
  left: 40px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v7_16 {
  width: 193px;
  height: 141px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 196px;
  left: 283px;
  border: 1px solid rgba(0,0,0,1);
}
.v7_17 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 248px;
  left: 323px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v7_18 {
  width: 193px;
  height: 141px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 196px;
  left: 570px;
  border: 1px solid rgba(0,0,0,1);
}
.v7_19 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 248px;
  left: 610px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v7_20 {
  width: 193px;
  height: 141px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 196px;
  left: 829px;
  border: 1px solid rgba(0,0,0,1);
}
.v7_21 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 248px;
  left: 869px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v7_22 {
  width: 193px;
  height: 141px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 196px;
  left: 1095px;
  border: 1px solid rgba(0,0,0,1);
}
.v7_23 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 249px;
  left: 1135px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v10_3 {
  width: 37px;
  height: 38px;
  background: url("../images/v10_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 198px;
  left: 382px;
  overflow: hidden;
}
.v10_4 {
  width: 37px;
  height: 38px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v10_7 {
  width: 715px;
  height: 50px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 434px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
